.pages {
  background-color: #26271F;
  font-family: "Inter", sans-serif;
}

h5 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding-top: 20px;
  color: #F0EBE5;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 600;
  padding-top: 15px;
  color: #F0EBE5;
  padding-top: 40px;
  }

  .line {
    color: #F0EBE5;
  }
