.pages {
  background-color: #26271F;
  font-family: "Inter", sans-serif;
}

.chatroom {
  background-color: #F0EBE5;
  font-family: "Inter", sans-serif;

}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
  color: #F0EBE5;
}

h5 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding-top: 20px;
  color: #F0EBE5;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  padding-top: 20px;
  color: #F0EBE5;
  text-align: justify;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 600;
  padding-top: 15px;
  color: #F0EBE5;
  margin-top: 30px;
  }

.h2-chat {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 600;
  padding-top: 30px;
  color: #26271F;
  margin-top: 20px;
  }

  .line {
    color: #F0EBE5;
  }
