.pages {
  background-color: #26271F;
  font-family: "Inter", sans-serif;
}

.chatroom {
  background-color: #F0EBE5;
  font-family: "Inter", sans-serif;

}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 600;
  padding-top: 30px;
  color: #F0EBE5;
  }

.h2-chat {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 600;
  padding-top: 30px;
  color: #26271F;
  }
