// Specific CSS for your home-page
.background {
  background-image: url("home_background_small.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;

}
