<div class="">

  <div class="container">
  <h2>My Messages</h2>

    <% @chats.each do |chat| %>

      <div class="card-chats w-50">
      <div class="card-body">
        <div class="card-title">
        <%= chat.localler.user.username %>
        </div>
        <%= link_to "Open chat", chat_path(chat), class:"my-button" %>
      </div>
      </div>

    <% end %>
  </div>

</div>
