<div class="bg-index">
  <div class="pages">
    <div class="container pb-3">
      <div class="light-dashboard">
        <img src="" alt="">
        <h2><%= @user.username %></h2>
        <p><%= @user.email %></p>
      </div>
      <div class="light-dashboard">
        <h2>About me</h2>
        <p><%= @user.bio %></p>
      </div>
    </div>
  </div>
</div>
