.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  border-radius: 5px;
  background-color: #F0EBE5;
  color: #D56F47;
  border-color: #D56F47;
  border: 1px solid;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}
