.black-button {
  background-color: #26271F;
	border-radius: 50px;
	cursor: pointer;
	margin: 5px;
  margin-top: 10px;
  border-style: none;
  height: 48px;
}

.black-button i {
  font-family: "Inter", sans-serif;
  color: #F0EBE5;
	font-size: 15px;
  font-style: normal;
	padding: 10px;
  display: inline-block;
}

.green-button {
  background-color: #19ECA1;
	border-radius: 50px;
	cursor: pointer;
	margin: 5px;
  margin-top: 10px;
  border-style: none;
  font-family: "Inter", sans-serif;
  color: #26271F;
	font-size: 15px;
  font-style: normal;
  padding-top: 13px;
  padding-bottom: 17px;
  display: inline-block;
  text-decoration: none;
  height: 48px
}

.green-button-become {
  background-color: transparent;
	border-radius: 50px;
	cursor: pointer;
  margin-right: 10px;
  border: 1px solid #19ECA1;
  font-family: "Inter", sans-serif;
  color: #19ECA1;
	font-size: 15px;
  font-style: normal;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 13px;
  display: inline-block;
  text-decoration: none;
  height: 40px
}

.green-button-become2 {
  background-color: #19ECA1;
	border-radius: 50px;
	cursor: pointer;
  margin-right: 10px;
  font-family: "Inter", sans-serif;
  color: #26271F;
	font-size: 15px;
  font-style: normal;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 13px;
  display: inline-block;
  text-decoration: none;
  height: 40px
}

.green-button-login {
  background-color: #19ECA1;
	border-radius: 50px;
	cursor: pointer;
	margin-bottom: 5px;
  margin-top: 10px;
  border-style: none;
  font-family: "Inter", sans-serif;
  color: #26271F;
	font-size: 15px;
  font-style: normal;
  padding-top: 13px;
  padding-bottom: 17px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  text-decoration: none;
  height: 48px;
  width: 100%;
}

.white-button {
  background-color: #F0EBE5;
  border-radius: 50px;
  cursor: pointer;
  padding: 8px 10px;
  border-style: none;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #26271F;
  display: inline-block;
}

.green-button-chat {
  background-color: #19ECA1;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  padding: 8px 10px;
  border-style: none;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #26271F;
  display: inline-block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.green-outline-button-chat {
  background-color: transparent;
  text-align: center;
  border: 1px solid #19ECA1;
  border-radius: 50px;
  cursor: pointer;
  padding: 8px 10px;
  border-style: none;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #19ECA1;
  display: inline-block;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
}


.black-button-chat {
  background-color: #26271F;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  padding: 8px 10px;
  border-style: none;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #F0EBE5;
  display: inline-block;
  width: 100%;
  height: 40px;
  margin-bottom: 0px;
}

.let-chat {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.link-light {
  color: #F0EBE5;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 13px;
}

.btn-close {
  color: #D56F47;
}

#available-green {
  color: #19ECA1;
}

#available-orange {
  color: #D56F47;
}

.fa-paper-plane {
  background-color: #19ECA1;
  border-radius: 50%;
  padding: 10px;
  bottom: 4px;
}

#send-button:disabled {
  border: none;
  opacity: 0.3;
}
