.card-chats {
  height: auto;
  background-color: #F0EBE5;
  color: #26271F;
  margin-top: 20px;
  border: 1px solid;
  border-radius: 5px;
}

.card-title {
  font-size: 16px;
  margin-bottom: 5px;
}
