.search-input {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mapboxgl-ctrl-geocoder {
  background-color: #f0ebe555;
  border-color: #F0EBE5;
  border-radius: 50px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #F0EBE5;
  padding: 8px 10px;
  width: 250px;
  border-style: solid;

}

.mapboxgl-ctrl-geocoder--input {
  padding: 0px 30px;
  height: 30px;
  color: #F0EBE5;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl {
  align-items: center;
  display: flex;
}

.mapboxgl-ctrl-geocoder--button {
  background: transparent;
}

.suggestions li {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.mapboxgl-ctrl-geocoder--icon {
  fill: #F0EBE5;
}

.mapboxgl-ctrl-geocoder--input::placeholder {
  color: #F0EBE5;
}

.mapboxgl-ctrl-geocoder--input:focus {
  color: #F0EBE5;
  border: none;
  outline: none;
}
