.message-row {
  margin-bottom: 7px;
}

// To style the message itself
.sender-style, .receiver-style {
  max-width: 70%;
  border-radius: 4px;
  padding: 5px 15px;
  min-height: 34px;
  min-width: 5px;
  word-break: break-word;
}

.sender-style {
  background-color: #d56f47;
  border-radius: 5px;
}

.receiver-style {
  background-color: #F0EBE5;
  border: 1px solid;
  border-color: #26271F;
  border-radius: 5px;
}

#message-send {
  margin-bottom: 0 !important;
}

#info-messager {
  font-size: 10px;
  color: #26271F90;
  text-align: end;
}

#content-messager {
  margin-bottom: 0;
}


#message-content .form-control:focus {
  border-color: #19ECA1;
  box-shadow: 0 0 0 0.2rem rgba(25, 236, 161, 0.25);
}
