.navbar-2 {
  justify-content: space-between;
  background: #26271F;
  height: fit-content;
  position: sticky;
  width: 100%;
  align-items: center;
}

.navbar-2 h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #F0EBE5;
  padding-top: 0;
  }

.navbar-2 .nav-item {
  color: #F0EBE5;
  font-family: "Inter", sans-serif;
  border-radius: 50px;
  border: 1px solid #F0EBE5;
  padding: 8px 20px;
  display: inline-block;
  text-decoration: none;
}

.navbar-2 .toggle-title {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #26271F;
  margin-bottom: 0;
  margin-right: 3px;
}
