.navbar-lewagon {
  justify-content: space-between;
  background: #F0EBE5;
  height: fit-content;
  position: sticky;
  width: 100%;
  align-items: center;
}

.navbar .nav-item {
  color: #26271F;
  font-family: "Inter", sans-serif;
  border-radius: 50px;
  border: 1px solid #26271F;
  padding: 8px 20px;
  display: inline-block;
  text-decoration: none;
}

.navbar h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #26271F;
  padding-top: 0;
}

.form-switch .form-check-input {
  height: 24px;
  width: 48px;
  background-color: #D56f47;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(240,235,229,1.0)'/></svg>");
  padding-left: 0;
  margin-left: 0;
}

.form-switch .form-check-input:focus {
  background-color: #D56f47;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(240,235,229,1.0)'/></svg>");
}

.form-switch .form-check-input:checked {
  background-color: #19ECA1;
  border: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(240,235,229,1.0)'/></svg>");
}

.form-check-input.is-valid {
  border: none;
}

.form-check-input {
  border: none;
  margin-top: 0;
}

.form-check .form-check-input {
  padding-left: 0;
}

.toggle-title {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  color: #26271F;
  margin-bottom: 0;
}

.form-check {
  padding-left: 0;
}

.navabar {
  .optional {
    margin-bottom: 0 !important;
  }

  .container-fluid {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

.navabar2 {
  .optional {
    margin-bottom: 0 !important;
  }

  .container-fluid {
    padding-left: 16px !important;
    padding-right: 16px!important;
  }
}

.the-toggle .localler_availability {
  margin-bottom: 0 !important;
}
