.navbar-2 {
  justify-content: space-between;
  background: #26271F;
  height: 60px;
}

.navbar-2 h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #F0EBE5;
}

.navbar-2 .nav-item {
  color: #F0EBE5;
  font-family: "Inter", sans-serif;
}
